params {
    input         = null  // Will be set to an Azure Blob Storage path
    outdir        = null
    project = null
    panel = "full"
    input_format = 'auto'
    // Trimmomatic Settings
    adapter_file = null // Set to null if you don't want to use adapter trimming by default. Set to AZ File Share folder fasta?
    trim_params = 'LEADING:15 TRAILING:15 SLIDINGWINDOW:4:15 MINLEN:36'
    // Flash2 Settings
    min_overlap = 3
    max_overlap = 400
    // BWA mem Settings
    reference = null // Set automatically in the Azure config, if using
    n_loci = 204
    // RUBIAS Settings
    rubias_show_missing_data = 'TRUE'
    // Threshold Settings
    ots28_missing_threshold = 0.5 // In ROSA process: If less than this much OTS28 data is missing, consider OTS28 data Intermediate instead of uncertain
    gsi_missing_threshold = 0.6 // In RUBIAS process: If more than this much GSI data is missing, consider GSI data invalid
    pofz_threshold = 0.8 // In RUBIAS process: If the maximum PofZ is less than this, consider the result ambiguous
    

    // Other params remain the same
}

profiles {
    standard {
        process.executor = 'local'
    }
    docker {
        process.executor = 'local'
        docker.enabled = true
        singularity.enabled = false
    }
    azure {
        process.executor = 'azurebatch'
        includeConfig 'conf/azure.config'
    }
    azure_local {
        process.executor = 'azurebatch'
        includeConfig 'conf/azure_local.config'
    }
    singularity {
        singularity.enabled = true
        docker.enabled = false
        singularity.autoMounts = true
    }
    ucd {
        includeConfig  'conf/ucdavis_hive.config'
    }
}

