process.executor = 'azurebatch'
params {
    // Use Azure Blob Storage paths
    input         = null  // Will be set to an Azure Blob Storage path
    outdir        = null
    project = null
    // Trimmomatic Settings
    adapter_file = null // Set to null if you don't want to use adapter trimming by default. Set to AZ File Share folder fasta?
    trim_params = 'LEADING:3 TRAILING:3 SLIDINGWINDOW:4:15 MINLEN:36'
    // Flash2 Settings
    min_overlap = 3
    max_overlap = 400
    // BWA mem Settings
    reference = null


    // Other params remain the same
}

profiles {
    standard {
        process.executor = 'local'
    }
    docker {
        docker.enabled = true
        // This is a default container, you can override it in individual processes
        process.container = 'nfcore/base:latest'
    }
    azure {
        process.executor = 'azurebatch'
        includeConfig 'conf/azure.config'
    }
}

