process.executor = 'azurebatch'
params {
    // Use Azure Blob Storage paths
    input         = null  // Will be set to an Azure Blob Storage path
    outdir        = null
    project = null
    panel = null
    input_format = 'auto'
    // Trimmomatic Settings
    adapter_file = null // Set to null if you don't want to use adapter trimming by default. Set to AZ File Share folder fasta?
    trim_params = 'LEADING:3 TRAILING:3 SLIDINGWINDOW:4:15 MINLEN:36'
    // Flash2 Settings
    min_overlap = 3
    max_overlap = 400
    // BWA mem Settings
    reference = null // Set automatically in the Azure config, if using
    n_loci = 211
    // RUBIAS Settings
    rubias_show_missing_data = 'TRUE'
    // Structure Settings
    ots28_missing_threshold = 0.74 // If more than this proportion of OTS28 loci data are missing, the sample is considered unknown for RoSA calling.
    

    // Other params remain the same
}

profiles {
    standard {
        process.executor = 'local'
    }
    docker {
        docker.enabled = true
        singularity.enabled = false
    }
    azure {
        process.executor = 'azurebatch'
        includeConfig 'conf/azure.config'
    }
    singularity {
        singularity.enabled = true
        docker.enabled = false
        singularity.autoMounts = true
    }
}

