process.executor = 'azurebatch'
docker.enabled = true


azure {
    batch {
        // ... other settings ...
        autoPoolMode = true
        allowPoolCreation = true
        runOptions = '-e "HOME=${HOME}" -v /etc/passwd:/etc/passwd:ro -v /etc/group:/etc/group:ro'
        deletePoolsOnCompletion = true
    }
}

process {
    withLabel: process_medium {
        cpus = 4
        memory = '8 GB'
    }
        withLabel: process_high {
        cpus = 16
        memory = '32 GB'
    }
}
}