process.executor = 'azurebatch'
docker.enabled = true
workDir = 'az://nextflow/work'
params {

    outdir = 'az://nextflow/results'
    adapter_file = 'az://nextflow/reference/adapters/GTseq-PE.fa' 
    reference = 'az://nextflow/reference/transition_panel/full_panel.fasta'
}


azure {
    batch {
        // ... other settings ...
        autoPoolMode = true
        allowPoolCreation = true
        runOptions = '-e "HOME=${HOME}" -v /etc/passwd:/etc/passwd:ro -v /etc/group:/etc/group:ro'
        deletePoolsOnCompletion = false
        pools {
            auto {
                vmType = 'Standard_D4_v3'
                vmCount = 1
                maxVmCount = 10
                startupScript = 'az://nextflow/scripts/mount_fileshare.sh'
            }
        }
    }
}

process {
    withLabel: process_medium {
        cpus = 4
        memory = '8 GB'
    }
        withLabel: process_high {
        cpus = 4
        memory = '16 GB'
    }
}
