process.executor = 'azurebatch'
docker.enabled = true
workDir = 'az://nextflow/work'
params {

    outdir = 'az://nextflow/results'
    adapter_file = '/mnt/batch/tasks/fsmounts/seqres/adapters/GTseq-PE.fa' 
    reference = 'az://nextflow/reference/transition_panel/full_panel.fasta'
}


azure {
    batch {
        autoPoolMode = false
        allowPoolCreation = true
        runOptions = '-e "HOME=${HOME}" -v /etc/passwd:/etc/passwd:ro -v /etc/group:/etc/group:ro'
        deletePoolsOnCompletion = false
        pools {
            small {
                machineType = "Standard_D2pls_v5"
                autoScale = true
                maxVmCount = 30
                scaleFormula = '''
                startingNumberOfVMs = 1;
                maxNumberofVMs = 20;
                pendingTaskSamplePercent = $PendingTasks.GetSamplePercent(300 * TimeInterval_Second);
                pendingTaskSamples = pendingTaskSamplePercent < 70 ? startingNumberOfVMs : avg($PendingTasks.GetSample(300 * TimeInterval_Second));
                $TargetDedicatedNodes = min(maxNumberofVMs, pendingTaskSamples);
                $NodeDeallocationOption = taskcompletion;
                '''
            }
            medium {
                machineType = 'Standard_D4_v5'
                autoScale = true
                maxVmCount = 20
                scaleFormula = '''
                startingNumberOfVMs = 1;
                maxNumberofVMs = 10;
                pendingTaskSamplePercent = $PendingTasks.GetSamplePercent(300 * TimeInterval_Second);
                pendingTaskSamples = pendingTaskSamplePercent < 70 ? startingNumberOfVMs : avg($PendingTasks.GetSample(300 * TimeInterval_Second));
                $TargetDedicatedNodes = min(maxNumberofVMs, pendingTaskSamples);
                $NodeDeallocationOption = taskcompletion;
                '''
            }
            high_memory {
                machineType = 'Standard_E4pds_v5'
                autoScale = true
                maxVmCount = 4
                scaleFormula = '''
                startingNumberOfVMs = 1;
                maxNumberofVMs = 4;
                pendingTaskSamplePercent = $PendingTasks.GetSamplePercent(300 * TimeInterval_Second);
                pendingTaskSamples = pendingTaskSamplePercent < 70 ? startingNumberOfVMs : avg($PendingTasks.GetSample(300 * TimeInterval_Second));
                $TargetDedicatedNodes = min(maxNumberofVMs, pendingTaskSamples);
                $NodeDeallocationOption = taskcompletion;
                '''
            }
        }
    }
    storage {
        fileShares {
            seqres {
                mountPath = "/mnt/batch/tasks/fsmounts/seqres"
                mountOptions = "vers=3.0,dir_mode=0755,file_mode=0755,serverino,nosharesock"
            }
        }
    }
}

process {
    withLabel: process_medium {
        queue = 'medium'
        cpus = 2
        memory = '8 GB'
    }
        withLabel: process_high {
        queue = 'medium'
        cpus = 4
        memory = '16 GB'
    }
        withLabel: process_small {
        queue = 'small'
        cpus = 2
        memory = '4 GB'
    }
        withLabel: 'high_memory' {
        queue = 'high_memory'
        }
}
